# ============================================================
# TodayBread 프로젝트 환경변수 설정
# ============================================================
# 이 파일을 복사해서 .env로 만들어 사용하세요:
#   cp .env.example .env
#   혹은
#   복사 후 이름 변경
#
# .env 파일은 gitignore 되어있으므로 각자 로컬에서만 유효합니다.
# 따라서 개인 PC에서 작업 시, .env 파일이 "꼭" 필요합니다.
# docker-compose와 Spring Boot가 동일한 변수를 참조합니다.
# ============================================================

# MySQL 데이터베이스 설정
# .env 파일에서 밑의 값들은 개인 설정에 맞게 사용하거나 현재 값을 그대로 사용해도 문제없습니다.
# 귀찮으면...
#   .env 만들고 바로 실행
# 설정 하고 싶으면...
#   .env 만들고
#   intelliJ에서 환경변수 등록 .env
#   실행
MYSQL_DATABASE=todaybread
MYSQL_USER=todaybread
MYSQL_PASSWORD=todaybread
MYSQL_ROOT_PASSWORD=rootpassword
